body {
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

section {
    margin: 30px;
    padding: 30px;
    border: 1px rgb(231, 231, 231) solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.container {
    width: 500px;
    margin: 20px;
    padding: 30px;
    border: 1px rgb(231, 231, 231) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0px;
}

.button-container {
    display: flex;
    justify-content: center;
}

input {
    max-width: 100px;
    text-align: right;
    border-color: transparent;
}

button {
    width: 100px;
    color: white;
    font-weight: bold;
    background: gray;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid gray;
}

th {
    padding: 3px;
    color: white;
    background: gray;
    text-align: center;
}

td {
    padding: 5px 10px;
    text-align: center;
}


@media (min-width: 200px) and (max-width: 646px) {

    .container {
        width: 100%;
        margin: 0;
    }

    table {
        table-layout: initial;
        width: 100%;
        border-collapse: collapse;
        border: 2px solid gray;
    }
}